<div class="container">
  <div class="row">
    <h1>Typeahead</h1>
  </div>

  <div class="row">
    <div class="col-6 pl-0 pr-2">
      <ng-container [formGroup]="form">
        <input  formControlName='user'
                (typeaheadNoResults)="changed($event)"
                (typeaheadOnSelect)="changed($event)"
                (ngModelChange)="changed($event)"
                [typeahead]="users"
                [typeaheadMinLength]="0"
                [typeaheadHideResultsOnBlur]="false"
                typeaheadOptionField="displayName"
                [class.is-invalid]="form.invalid && form.get('user')?.dirty &&  form.get('user')?.touched"
                class="form-control">
      </ng-container>
    </div>

    <div class="col-6 pl-2">
      <pre class="card card-block card-header mb-3">Selected: {{ selected | json }}<br>Errors: {{ form.get('user')?.errors | json }}</pre>
    </div>
  </div>

</div>
